@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    background: #555;
    border: none;
    z-index: 9999;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    border-radius: 0;
    margin-bottom: 0px;
    letter-spacing: 2px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #555 !important;
    background-color: #fff !important;
}

.navbar .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #555;
    margin: 40px 0;
}

li {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

input {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}

footer .fa {
    font-size: 20px;
    margin-bottom: 20px;
}

.nav-sidebar {
    float: right;
    padding: 10px;
}

.intro-paragraph {
    width: 60vw;
    padding: 100px;
    font-size: 1.4em;
}

.laptop-background {
    background-image: url("laptop-notebook-computer-mobile-writing-working-726326-pxhere.com.jpg");
        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.bg-grey {
    background-color: #555;
}

.box_textshadow {
    color: white;
    text-shadow: 1px 1px 0px black; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

.jumbotron {
    background-color: #555;
    color: #ffffff;
    padding: 100px 25px;
    border-radius: 0 !important;
}

.sectional {
    padding: 60px 50px;
}

.logo {
    font-size: 200px;
}

.logo-small {
    color: #636363;
    font-size: 50px;
}

.img-thumbnail {
    padding: 0 0 15px 0;
    /* border: none; */
    /* border-radius: 10; */
}

.img-thumbnail img {
    /* width: 100%;
    height: 65%; */
    margin-bottom: 10px;

    max-width:100%;
    width:auto;
    height:auto;
}

.dropdown-button {
    background-color: transparent;
    border: 0;
    color: #999;
}

.navbar-nav li button:hover, .navbar-nav li.active button {
    color: #555 !important;
    background-color: #fff !important;
}

.text-style-white {
    color:white;
    font-family: Montserrat, sans-serif;
}

.text-style-black {
    color:black;
    font-family: Montserrat, sans-serif;
}
  

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    background: #555;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-right: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #555;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #555;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}




a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    left: 20px; /* changed */
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #555;
}
a.article, a.article:hover {
    background: #555 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    ROW STYLE
----------------------------------------------------- */
 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .row.content {height: 450px}

    
    @media screen and (max-width: 767px) {
    .row.content {height:auto;} 
    }


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 100px;
}
#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    SLIDE IN ELEMENTS
----------------------------------------------------- */
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-right: -250px;
    }
    #sidebar.active {
        margin-right: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}
